/* index.css or global styles */
body {
  background-color: var(--body_background);
  color: var(--body_color);
}

a {
  color: var(--link_color);
}
*{transition :all 0.6s ease-in-out;
}

:root{
  --body_background:white;
  --body_color:black;
  --link_color:navy;
}
[data-theme="dark"]{
  --body_background:#282c34;
  --body_color:white;
  --link_color:cyan;
}
/*Reset all*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 112.5em;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}/* avoids words going out of their parent containers*/